
img {
    width: 100px;
}

/* Dealer
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.dealer {
    position: absolute;
    top: 220px;
    width: 100%;
    text-align: center;
}

.dealer__list {
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
}

.dealer__card {
    padding: 0 5px;
}

/* Player cards
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.player__list {
    list-style: none;
    display: flex;
}

.player__li {
    position: relative;
}

.player__li:nth-child(1) {
    transform: rotate(10deg);
    left: 0;
    z-index: 1;
}

.player__li:nth-child(2) {
    transform: rotate(20deg);
    left: -75px;
    z-index: 2;
}

.player__li:nth-child(3) {
    transform: rotate(30deg);
    left: -150px;
    z-index: 3;
}

.player__li:nth-child(4) {
    transform: rotate(40deg);
    left: -225px;
    z-index: 4;
}

.player__li:nth-child(5) {
    transform: rotate(41deg);
    left: -300px;
    z-index: 5;
}

.player__li:nth-child(6) {
    transform: rotate(42deg);
    left: -375px;
    z-index: 6;
}

.player__li:nth-child(7) {
    transform: rotate(43deg);
    left: -450px;
    z-index: 7;
}

.player__li:nth-child(8) {
    transform: rotate(44deg);
    left: -525px;
    z-index: 8;
}

.player__li:nth-child(9) {
    transform: rotate(45deg);
    left: -600px;
    z-index: 9;
}

.player__li:nth-child(10) {
    transform: rotate(46deg);
    left: -675px;
    z-index: 10;
}

.player__li:nth-child(11) {
    transform: rotate(47deg);
    left: -750px;
    z-index: 11;
}

/* Player 1
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.player-1 {
    position: absolute;
    left: 50%;
    margin-left: -550px;
    transform: rotate(10deg);
    bottom: 400px;
}

.player-1 .player__li:nth-child(1) {
    top: 120px;
}

.player-1 .player__li:nth-child(2) {
    top: 130px;
}

.player-1 .player__li:nth-child(3) {
    top: 140px;
}

.player-1 .player__li:nth-child(4) {
    top: 150px;
}

.player-1 .player__li:nth-child(5) {
    top: 160px;
}

.player-1 .player__li:nth-child(6) {
    top: 170px;
}

.player-1 .player__li:nth-child(7) {
    top: 180px;
}

.player-1 .player__li:nth-child(8) {
    top: 190px;
}

.player-1 .player__li:nth-child(9) {
    top: 200px;
}

.player-1 .player__li:nth-child(10) {
    top: 210px;
}

.player-1 .player__li:nth-child(11) {
    top: 220px;
}


/* Player 2
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.player-2 {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    transform: rotate(-30deg);
    bottom: 250px;
}

.player-2 .player__li:nth-child(1) {
    top: 120px;
}

.player-2 .player__li:nth-child(2) {
    top: 130px;
}

.player-2 .player__li:nth-child(3) {
    top: 140px;
}

.player-2 .player__li:nth-child(4) {
    top: 150px;
}

.player-2 .player__li:nth-child(5) {
    top: 160px;
}

.player-2 .player__li:nth-child(6) {
    top: 170px;
}

.player-2 .player__li:nth-child(7) {
    top: 180px;
}

.player-2 .player__li:nth-child(8) {
    top: 190px;
}

.player-2 .player__li:nth-child(9) {
    top: 200px;
}

.player-2 .player__li:nth-child(10) {
    top: 210px;
}

.player-2 .player__li:nth-child(11) {
    top: 220px;
}


/* Player 3
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

.player-3 {
    position: absolute;
    left: 50%;
    margin-left: 250px;
    transform: rotate(-55deg);
    bottom: 430px;
}

.player-3 .player__li:nth-child(1) {
    top: 120px;
}

.player-3 .player__li:nth-child(2) {
    top: 130px;
}

.player-3 .player__li:nth-child(3) {
    top: 140px;
}

.player-3 .player__li:nth-child(4) {
    top: 150px;
}

.player-3 .player__li:nth-child(5) {
    top: 160px;
}

.player-3 .player__li:nth-child(6) {
    top: 170px;
}

.player-3 .player__li:nth-child(7) {
    top: 180px;
}

.player-3 .player__li:nth-child(8) {
    top: 190px;
}

.player-3 .player__li:nth-child(9) {
    top: 200px;
}

.player-3 .player__li:nth-child(10) {
    top: 210px;
}

.player-3 .player__li:nth-child(11) {
    top: 220px;
}


/* Responsive media queries
/* ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## ## */

/* Large devices (large desktops, 1700px and up) */
@media (max-width: 1700px) {

    /* Dealer */
    .dealer {
        top: 275px;
    }

    /* Player 1 */
    .player-1 {
        position: absolute;
        left: 50%;
        margin-left: -475px;
        transform: rotate(20deg);
        bottom: 400px;
    }

    /* Player 2 */
    .player-2 {
        position: absolute;
        left: 50%;
        margin-left: -130px;
        transform: rotate(-20deg);
        bottom: 300px;
    }

    /* Player 3 */
    .player-3 {
        position: absolute;
        left: 50%;
        margin-left: 150px;
        transform: rotate(-60deg);
        bottom: 450px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {

    img {
        width: 50px;
    }

    /* Dealer */
    .dealer {
        top: 300px;
    }

    /* Player 1 */
    .player-1 {
        position: absolute;
        left: 50%;
        margin-left: -350px;
        transform: rotate(10deg);
        bottom: 450px;
    }

    /* Player 2 */
    .player-2 {
        position: absolute;
        left: 50%;
        margin-left: -90px;
        transform: rotate(-30deg);
        bottom: 350px;
    }

    /* Player 3 */
    .player-3 {
        position: absolute;
        left: 50%;
        margin-left: 200px;
        transform: rotate(-75deg);
        bottom: 500px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {}

